.about-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    gap: 33px;
}

.about-us-header p {
    text-align: center;
    font-size: 17px;
    padding: 5px 22px;
}

.about-us-img img {
    width: 500px;
    height: 350px;
    border-radius: 15px;
}

.about-us-middle {
    font-size: 29px;
    text-align: center;
    font-family: fantasy;
    opacity: 0.8;

}

.about-us-end h1 {
    font-size: 37px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Geneva, Tahoma, sans-serif;
    margin-bottom: 11px;
    opacity: 0.8;
}

.our-team-photos {
    display: flex;
    gap: 35px;
}

.our-team-photos img {
    width: 300px;
    height: 370px;
    border-radius: 15px;
}

.our-team-photos>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.our-team-person p {
    font-size: 13px;
    opacity: 0.8;
}

@media screen and (max-width: 660px) {
    .our-team-photos {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    
}
@media screen and (max-width: 500px) {
    .about-us-img img {
        width: 400px;
    }
}