.video-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 15px;
    border: 1px solid rgba(36, 36, 35, 0.508);
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.687);
    margin: 0 auto;
}


@media screen and (max-width: 1300px){
    .video-container{
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        align-items: center;
        justify-content: center;
    }
    
}