.profile-edit__body h3{
    padding-top: 30px;
    font-size: 25px;
    margin-bottom: 10px;
}

.container-profile-edit{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-edit__body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.input{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    width: 600px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.input label{
    width: 100%;
}

.img-change{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100px;
}

.img-change img{
    border-radius: 50%;
    margin-right: 15px;
}

.delete-btn{
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff5252;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
}

.delete-btn:hover{
    background-color: #d6c8c8ac;
    color: #ff5252;
    border: 2px solid #ff5252;
    box-shadow: 5px 5px 0px #ff5252;
}

.profile-errorMessage{
    width: 600px;
    color: red;
    padding: 10px;
    font-weight: bold;
}

.profile-confirmMessage{
    width: 600px;
    color: green;
    padding: 10px;
    font-weight: bold;
}