.tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tab {
    margin: 5px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    color: #333;
}

.tab-active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.event-form {
    display: block;
    width: 50%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 2%;
    margin: 10px auto;
    padding: 10px;
}

h1 {
    display: flex;
    justify-content: center;
}

 
.email-suggestion-container {
    position: relative;
    width: 300px; /* Adjust the width as needed */
}

.suggestions {
    position: absolute;
    top: 100%; /* Positions the suggestions directly below the input field */
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
    transition: max-height 0.3s ease-out;
}

.suggestion-item {
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

.suggestions-enter {
    max-height: 0;
}

.suggestions-enter-active {
    max-height: 150px; /* Match the max-height defined above */
}

.invited-users {
    background-color: white;
    border: 2px solid #ccc;
    margin: 10px auto;
    padding: 10px;
}

.required {
  padding: 2px;
  margin: 5px;
  font-weight: bold;
}
  
/* Add a focus state to highlight the input when it's selected */
.required + input:focus {
  border-color: #cc0000; /* Darker red border when focused */
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5); /* Add a red shadow for better visibility */
}

  .spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.checkmark {
  width: 20px;
  height: 20px;
  background-color:white;
  border: 1px solid #ccc;
  margin-left: 5px;
  border-radius: 4px;
  position: relative;
}

input[type="checkbox"] {
  display: none;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 3px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid rgb(13, 159, 117);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

input[type="checkbox"]:checked + .checkmark::after {
  display: block;
}

/*  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.formbold-mb-3 {
  margin-bottom: 15px;
}

.formbold-opacity-0 {
  opacity: 0;
}
.formbold-stroke-current {
  stroke: #ffffff;
  z-index: 999;
}

.formbold-img {
  display: block;
  margin: 0 auto 45px;
}

.formbold-form-input {
  width: 100%;
  padding: 13px 22px;
  border-radius: 5px;
  border: 1px solid #dde3ec;
  background: #ffffff;
  font-weight: 500;
  font-size: 16px;
  color: #536387;
  outline: none;
  resize: none;
}

.formbold-form-input:focus {
  border-color: #6a64f1;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}
.formbold-form-label {
  color: #536387;
  font-size: 14px;
  line-height: 24px;
  display: block;
  margin-bottom: 10px;
}

.formbold-checkbox-label {
  display: flex;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  line-height: 24px;
  color: #536387;
}

.formbold-form-file {
  padding: 12px;
  font-size: 14px;
  line-height: 24px;
  color: rgba(83, 99, 135, 0.5);
}
.formbold-form-file::-webkit-file-upload-button {
  display: none;
}
.formbold-form-file:before {
  content: 'Upload';
  display: inline-block;
  background: #EEEEEE;
  border: 0.5px solid #E7E7E7;
  border-radius: 3px;
  padding: 3px 12px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  color: #637381;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-right: 10px;
}

.formbold-btn {
  font-size: 16px;
  border-radius: 5px;
  padding: 14px 25px;
  border: none;
  font-weight: 500;
  background-color: #6a64f1;
  color: white;
  cursor: pointer;
  margin-top: 25px;
}