.calendar-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-left: 15px;
}

/* calendar */
.calendar-month-container{
    display: flex;
    flex: 1;
}

/* header */
.calendar-header{
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 10px 20px;
}

.calendar-header h1 {
    font-size: 22px;
    font-weight: bold;
}

.calendar-header h2{
    width: 180px;
    text-align: center;
}

.calendar-header button{
    padding: 7px;
    border-radius: 5px;
}
.calendar-header button:hover{
    background-color: rgba(32, 84, 180, 0.778);
    transition: background-color 0.3s ease;
}


/* day */
.days {
    border: 1px solid rgba(136, 136, 136, 0.544);
    display: flex;
    flex-direction: column;
}


.days header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.days header p {
    padding: 10px;
    text-align: center;
}
.currentDay{
    background-color: rgba(32, 84, 180, 0.778);
    color: white;
    border-radius: 50%;
    
}
.calendar-event-title{
    margin-right: 0.75rem;
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

.single-event-title{
    background-color: rgba(185, 125, 52, 0.542);
    margin-top: 5px;
    border-radius: 11px;
    padding: 0.25rem;
}

.single-event-title-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* month */
.container-month{
    flex: 1 1 0%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

/* week */

.container-week{
    flex: 1 1 0%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    
}

/* hours */

.hour-container{
    border: 1px solid rgba(136, 136, 136, 0.544);
    height: 30px;
    display: flex;
    flex-direction: column;
    height: 70px;
    overflow-y: auto;
}
.hour-container h4{
    padding: 0px 11px
}



/* single day */

.hour-day-container {
    border: 1px solid rgba(136, 136, 136, 0.544);
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1000px;
}

.hour-day-container h4 {
    /* padding: 0px 15px; */
    /* border-right: 3px solid rgba(17, 17, 17, 0.544); */
}

.hour-day-container p {
    display: block;
    padding-left: 15px;
}

.hours-static{
    position: absolute;
    top: 11em;
    left: 10.3em;
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 17px;
    font-weight: bold;
}