.all-lists{
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto;
    gap: 15px;
  }
  
  .single-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #dddddd;
    width: 100%;
    padding: 20px;
    border: 1px solid #000;
    cursor: pointer;
    border-radius: 15px;
  }
  
  .list-details{
    display: flex;
    flex-direction: column;
  }

  .list-details p{
    font-size: 15px;
  }

  .list-details h3{
    margin-bottom: 11px;
  }