.usersContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.search-form {
  display: flex;
  flex-direction: column;
  width: 530px;
  margin: 0 auto;
  margin-top: 70px;
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: beige;
  --main-color: black;
  padding: 40px;
  background: rgb(60, 215, 248);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  border-radius: 15px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  margin-bottom: 15px;
}

#searchField {
  margin: 0 auto;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}
.labelText {
  font-size: 16px;
  font-weight: bold;
  width: 120px;
  color: black;
}

.search-form input[type="radio"] {
  margin-left: 5px;
  margin-right: 5px;
}

div #error {
  color: rgb(197, 34, 34);
  font-weight: bold;
}

.users-list {
  width: 530px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 20px rgb(152, 153, 153);
  border-radius: 5%;
  background-color: rgb(152, 153, 153);
}

.user-details {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  border: solid 10px rgb(152, 153, 153);
  background-color: rgba(255, 255, 255, 0.749);
  padding: 20px;
  color: black;
  border-radius: 15px;
  gap: 10px;
}

.search-form button {
  margin: 0 auto;
  cursor: pointer;
  width: 100px;
  height: 40px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  color: var(--font-color);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}



.user-details img {
  grid-column: 1 / 2;
  width: 100px;
  height: 100px;
}

.user-details div {
  grid-column: 2 / 3;
}

.user-details label {
  font-weight: bold;
  font-size: 20px;
}

.user-details button {
  width: 130px;
  height: 50px;
  padding: 17px 40px;
  border-radius: 10px;
  border: 0;
  background-color: rgb(255, 56, 86);
  letter-spacing: 1.5px;
  font-size: 11px;
  transition: all 0.3s ease;
  box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  font-weight: bold;
}

.user-details button:hover {
  box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
}

.user-details button:active {
  background-color: rgb(255, 56, 86);
  /*50, 168, 80*/
  box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #aae20f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

#error{
  text-align: center;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


@media (max-width: 580px) {
  .search-form {
    width: 330px;
  }
  
  .users-list {
    width: 330px;
  }
  .user-details label {
    font-weight: bold;
    font-size: 17px;
  }
  .user-details {
    display: grid;
    grid-template-columns: auto auto;
    width: 320px;
    border: solid 10px rgb(152, 153, 153);
    background-color: rgba(255, 255, 255, 0.749);
    padding: 20px;
    color: black;
    border-radius: 15px;
    gap: 10px;
  }
}