.side-bar-container {
  margin: 0;
  padding: 0;
  width: 170px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background-color: rgb(255, 255, 255);
  padding: 0px 0px;
  height: 100%;
  border-right: 1px solid rgba(40, 40, 40, 0.716);
}

.side-bar-tags {
  display: flex;
  flex-direction: column;
  gap: 60px;
  font-size: 20px;
  padding: 40px 20px;
}
.side-bar-tags li {
  list-style: none;
  color: rgb(120, 138, 158);
  cursor: pointer;
  margin-top: 15px;
}
.side-bar-tags i {
  padding-right: 10px;
}

.side-bar-tags li:hover {
  color: rgba(40,90,255);
  transition: color 0.3s ease;
}

.activePath{
  color: rgba(40,90,255) !important;

}

@media screen and (max-width: 800px){
  .side-bar-container {
    margin: 0;
    padding: 0;
    width: 100%; /* Full width */
    position: static;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    border-right: 0px solid rgba(40, 40, 40, 0.716);

  }
  
  .side-bar-tags {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 15px;
    padding: 10px 20px; /* Adjust padding */
    align-items: center;
  }

  .side-bar-tags img{
    width: 90px;
    height: 40px;
  }

  .side-bar-tags i {
    padding-right: 10px;
  }
}