.side-bar-container {
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background-color: rgb(126, 198, 222);
  padding: 0px 0px;
  height: 100%;
}

.side-bar-tags {
  display: flex;
  flex-direction: column;
  gap: 60px;
  font-size: 21px;
  padding: 33px 20px;
}
.side-bar-tags li {
  list-style: none;
  color: rgb(231, 231, 231);
  cursor: pointer;
  text-shadow: 1px 1px 1px black;
}
.side-bar-tags i {
  padding-right: 10px;
}

.side-bar-tags li:hover {
  color: rgba(245, 245, 246, 0.608);
  transition: color 0.3s ease;
}
