.register-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: beige;
  --main-color: black;
  padding: 40px;
  background: rgb(60,215,248);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  font-weight: bold;
}

.registerContainer{
    height: 100vh;
}

.register-form label {
    display: inline-block;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    width: 150px; 
}

.register-form h2{
    font-family: "Poetsen One", sans-serif;
    font-size: 27px;
}

.register-form input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 0px 10px;
    outline: none;
}

.register-form input:hover {
    background-color: orange; 
    transition: background-color 0.3s ease; 
}

.register-form button {
    cursor: pointer;
    width: 120px;
    height: 40px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    color: var(--font-color);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.register-form button:active {
    transform: translateY(7px);
    transition: transform 0.2s ease; 
}

.register-form div {
    color: rgb(212, 12, 12);
}

.registration-success {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    background-color: #ffffff;
    padding: 20px;
    border: 5px solid rgb(8, 102, 224);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* CSS */
.button-43 {
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 100%;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-43:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

@media (min-width: 768px) {
  .button-43 {
    padding: 1rem 2rem;
  }
}

@media (max-width: 550px) {

    .register-form {
        width: 400px;
    }
    
  }
  
  
@media (max-width: 440px) {

    .register-form {
        width: 350px;
    }
    
  }
  
  .required::after {
    content: '*';
    color: red;
    margin-left: 5px;
  }
  