.container-footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 253, 253);
    color: rgb(120, 138, 158);
    text-align: center;
    padding: 20px;
    border-top: 1px solid #333333a4;
    height: 50px;
    display: flex;
    padding-left: 200px;
    align-items: center;
}