/* theme colors */

/* container-content */
.dark-theme {
  color: #cac9c9 !important;
  background-image: linear-gradient(109.6deg, rgba(15, 2, 2, 1) 11.2%, rgb(34, 90, 102) 91.1%) !important;
}


.dark-theme button {
  color: #ffffff;
}

.dark-theme .selected {
  color: rgb(40, 90, 255);
}

/* header */
.dark-theme-header {
  background-color: #181616;
  color: #fff;
}

/* side bar */
.dark-theme-sideBar {
  background-color: #201e1e;
  color: #fff;
}

.dark-theme-sideBar li {
  color: rgb(226, 226, 226);
}


/* footer */
.dark-theme-footer {
  background-image: linear-gradient(109.6deg, rgba(15, 2, 2, 1) 11.2%, rgb(34, 90, 102) 91.1%);
  color: #fff;
}

/* single event */
.dark-theme-single-event {
  background: linear-gradient(145deg, #42424e, #1e1c1c);
  box-shadow: 10px 10px 21px #272121,
    -10px -10px 21px #464242;
  color: rgb(255, 255, 255);
}

.dark-theme-single-event button {
  color: #606060;
}

.dark-theme-single-event .hours-event-left {
  background-color: #464242;
}

/* contacts */

.dark-theme-contacts {
  color: #f8f7ff;
  background-image: linear-gradient(109.6deg, rgba(15, 2, 2, 1) 11.2%, rgb(34, 90, 102) 91.1%) !important;
}

.btn-dark {
  color: black !important;
}

/* profile edit */

.dark-theme-profile {
  background-image: linear-gradient(109.6deg, rgba(15, 2, 2, 1) 11.2%, rgb(34, 90, 102) 91.1%) !important;
  color: #6b6767;
}

.dark-theme-profile .input {
  background-color: rgba(55, 55, 56, 0.781);
}

.dark-theme-profile .address-change {
  background-color: rgba(53, 53, 60, 0.781);
}


/* single event view */
.dark-single-event {
  color: #cac9c9;
  background-image: linear-gradient(109.6deg, rgba(15, 2, 2, 1) 11.2%, rgb(34, 90, 102) 91.1%) !important;
}

/* add event */

.dark-theme-add-event {
  color: #cac9c9;
  background-image: linear-gradient(109.6deg, rgba(15, 2, 2, 1) 11.2%, rgb(34, 90, 102) 91.1%)!important;
}

.dark-theme-add-event form{
  background-image: linear-gradient( 76.3deg,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% );
  color: #ffffff;
}


/* admin */

.dark-theme-admin{
  color: #cac9c9;
  background-image: linear-gradient(109.6deg, rgba(15, 2, 2, 1) 11.2%, rgb(34, 90, 102) 91.1%)!important;
}

.dark-theme-admin .top-tabs label{
  color: white;
}