.login-form {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin: 0 auto;
    margin-top: 70px;
    --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: beige;
  --main-color: black;
  padding: 40px;
  background: rgb(239,239,239);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  border-radius: 15px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

.loginContainer{
    height: 100vh;
}


.login-form p {
    font-family: "Poetsen One", sans-serif;
    font-size: 36px;
    font-weight: 600;
}

.login-form h5 {
    font-size: 20px;
    font-weight: 600;
    color: var(--font-color-sub);
    margin-top: 15px;

}

.login-span {
    display: block;
    margin-bottom: 10px;
}

#span-name{
   color: rgb(24,150,195);
}

#span-sign-up{
    color: rgb(24,150,195);
    cursor: pointer;
}

.login-form label {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    width: 120px; 
}


.login-form div {
    color: rgb(212, 12, 12);
    font-weight: bold;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
}

.spinnerContainer{
    height: 100vh;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media  (max-width: 500px) {
    .login-form {
        width: 350px;
    }
    
}