.single-event-info {
  display: flex;
}

.single-event-info > form {
  display: flex;
  flex-direction: column;
  width: 100%; 
  padding: 20px 40px;
}



.single-event-info p span {
  font-weight: bold; 
  padding-right: 5px;
}

.single-event-info img {
  width: 500px;
  height: 300px;
  border-radius: 8px;
  margin: 0 auto;
}

#editTitle {
  width: 100%;
  padding: 10px;
  margin-bottom: 1%;
  font-size: 0.7em;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

#editDescription {
  width: 70%;
  padding: 10px;
  margin-bottom: 1%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

#editLocationType {
  width: 15%;
  padding: 10px;
  margin-bottom: 1%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

#editVisibility {
  width: 15%;
  padding: 10px;
  margin-bottom: 1%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

#editCanInvite {
  margin: 0;
  vertical-align: middle;
}

.error-message {
  color: red;
  font-size: 1.0em;
  font-weight: bold;
}

#editLocation {
  width: 35%;
  padding: 10px;
  margin-bottom: 1%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.address input {
  padding: 10px;
  margin-bottom: 1%;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.address h5 {
  margin-bottom: 5px;
  font-size: 0.8em;
  font-weight: normal;
  color: rgb(44, 176, 44);
}

/* Buttons - Edit/Save/Delete */
.edit-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-button {
  background-color: #4b77dc;
  border: none;          
  color: white;           
  padding: 15px 32px;      
  font-size: 16px;     
  margin: 4px 2px;        
  cursor: pointer;       
  border-radius: 12px;   
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #45a049;
}

.delete-button {
  background-color: #dc4b4b;
}

/* Styling for the Invite Users component which is being loaded by Single Event */

.common {
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #dde3ec;
  background: #ffffff;
  color: #536387;
  resize: none;
}

.suggestions {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 50%;
  max-height: 10%;
  overflow-y: auto;
  transition: max-height 0.3s ease-out;
}

.suggestion-item {
  display: grid;
  grid-template-columns: auto auto; 
  border: 1px solid #ccc;
  margin: 1px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #eab7b7;
}

.suggestion-item img {
  grid-column: 1 / 2;
  width: 40px; 
  height: 40px;
  border-radius: 15%;
}

.suggestion-item span {
  grid-column: 2 / 2; 
  align-self: center;
} 

.invited-users {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  margin: 2px auto;
  padding: 2px;
  background-color: transparent;
}

.invited-user {
  display: grid;
  grid-template-columns: auto auto auto;
  border: 2px solid rgb(202,201,201);
  margin: 1px;
  padding: 3px;
}

.invited-user img {
  grid-column: 1 / 2; 
  width: 30px; 
  height: 30px;
  border-radius: 50%;
  padding: 1px;
}

.invited-user span {
  grid-column: 2 / 2;
  font-size: 14px;
  align-self: center; 
  padding: 1px;
}

.invited-user button {
  grid-column: 3 / 3;
  align-self: center; 
  padding: 2px;
  margin: 2px;
  color: rgb(186, 8, 8);
  font-weight: bold;
  border: 1px solid #ccc; 
  cursor: pointer; 
}

.invited-user button:hover {
  background-color: #e0e0e0; 
}

#invitedUsers {
  width: 75%;
  background-color: #f9f9f9;
}

.weather_location{
  display: flex;
  justify-content: space-between;
}

.hours-single-event{
  display: flex;
  gap: 15px;
  color: rgba(67, 67, 255, 0.799);
  font-size: 21px;
  font-weight: 600;
}

.single-event-header h1{
  font-size: 50px;
}

.single-event-header{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 15px;
}

.single-event-view-details{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 25px 0px;
  gap: 15px;
}

.single-event-info > form .fa-solid{
  margin-right: 5px;
}

.single-event-view-details-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.event-hours-time{
  color: #d32828;
  font-size: 22px;
}

@media screen and (max-width: 1165px) {
  .invited-users {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    margin: 2px auto;
    padding: 2px;
  }
  .weather_location{
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  
}

@media screen and (max-width: 980px) {
  .single-event-view-details-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }
}

@media screen and (max-width: 590px) {
  #single-event-header-img{
    width: 340px;
    height: 250px;
  }
}

@media screen and (max-width: 460px) {
  .single-event-info > form {
    padding: 20px 3px;
 
  }
  
  
}